image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp -r *.html public/
    - cp -r *.css public/
    - cp -r *.js public/
    - cp -r *.xml public/
    - cp -r *.txt public/
  artifacts:
    paths:
      - public
  only:
    - main